Source: pr2-udev
Section: config
Priority: extra
Maintainer: Jeremy Leibs <leibs@willowgarage.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: pr2-udev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, udev, pr2-core
Description: Special udev rules for the PR2 sensors.
Provides: ${diverted-files}
Conflicts: ${diverted-files}
